.img-proyecto3 {
    position: relative;
}

.img-proyecto3 > img {
    height: auto;
}

.img-proyecto3:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.1) 40%, #000000);
}

@media screen and (max-width: 1024px) {
    .fondo-proyecto3{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-proyecto3{
        width: 100%;
        justify-content: center;    
    }

    .texto-p3{
        width: 100%;
        justify-content: center;  
        padding-top: 30px;
        padding-bottom: 30px; 
    }

    .img-proyecto3:before{
        background: linear-gradient(rgba(255, 255, 255, 0.1) 40%, #000000);
    }
}

@media screen and (max-width: 425px) {
    .texto-p3{
        width: 100%;
        justify-content: center;   
        padding-left: 30px;
        padding-right: 30px;
    }
}