.img-proyecto4 {
    position: relative;
}

.img-proyecto4 > img {
    height: auto;
}

.img-proyecto4:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg,#34d399, rgba(255, 255, 255, 0.1) 30%);
}