.fondo-exp {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    color: white;
}

@media screen and (max-width: 768px) {
    .exp-1{
        padding-left: 60px;
        padding-right: 60px;
    }

    .exp-2{
        padding-left: 60px;
        padding-right: 60px;
    }

}

@media screen and (max-width: 425px) {
    .exp-1{
        padding-left: 22px;
        padding-right: 22px;
    }

    .exp-2{
        padding-left: 22px;
        padding-right: 22px;
    }

}
