
.fondo {
    background-color: #202020;
    /* width: 100vw; */
}

.image-perfil{ 
    display: flex;
    justify-content: center;
}

.image-perfil > img {
    width: 50%;
    height: 80%;
    border-radius: 50%;
}

@media screen and (max-width: 1439px) {
    .image-perfil {
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .fondo{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .text{
        width: 100%;
    }

    .image-perfil {
        width: 100%;
        justify-content: center;   
    }

    .image-perfil > img {
        width: 30%;
    }

    .cv{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 425px){
    .fondo{
        padding: 10px 0px;
    }
}

@media screen and (max-width: 375px){
    .text{
        padding: 15px 20px;
    }
}