.fondo-proyecto {
    background-color: #04001e;
    /* border: 1px white solid; */
}

.img-proyecto1 {
    position: relative;
}

.img-proyecto1 > img {
    height: auto;
}

.img-proyecto1:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.1) 40%, #04001e);
}

.ver-codigo {
    padding: 14px 25px;
}



@media screen and (max-width: 1024px) {
    .fondo-proyecto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-proyecto1{
        width: 100%;
        justify-content: center;    
    }

    .texto-p1{
        width: 100%;
        justify-content: center;   
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .img-proyecto1:before{
        background: linear-gradient(rgba(255, 255, 255, 0.1) 40%, #04001e);
    }

    .botones{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ver-proyecto {
        margin: 15px 0;
        padding: 8px 80px;
    }
    .ver-codigo{
        margin: 15px 0;
        padding: 8px 85px
    }
}

@media screen and (max-width: 768px) {
    .botones{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ver-proyecto {
        margin: 15px 0;
        padding: 8px 80px;
    }
    .ver-codigo{
        margin: 15px 0;
        padding: 8px 85px
    }
}

@media screen and (max-width: 425px) {
    .texto-p1{
        width: 100%;
        justify-content: center;   
        padding-left: 30px;
        padding-right: 30px;
    }
    .ver-proyecto {
        margin: 15px 0;
        padding: 8px 84px;
    }
    .ver-codigo{
        margin: 15px 0;
        padding: 8px 90px
    }
}

@media screen and (max-width: 320px) {
    .texto-p1{
        width: 100%;
        justify-content: center;   
        padding-left: 30px;
        padding-right: 30px;
    }
    .ver-proyecto {
        margin: 15px 0;
        padding: 8px 65px;
    }
    .ver-codigo{
        margin: 15px 0;
        padding: 5px 70px
    }
}