
.contenedor-padre{
  /* border: 5px red solid; */
  width: 100%;
  overflow-y: auto;
}

.up {
  display: flex;
  position: fixed;
  height: 50px;
  width: 50px;
  left: 0;
  bottom: 90px;
  border-radius: 50px;
  visibility: hidden; 
  color: white;
  z-index: 1;
}

.up-mobil {
  display: none;
}

@media screen and (max-width: 768px) {
  .up-pc{
    display: none;
  }

  .up-mobil{
    display: flex;
  }
}
